@tailwind base;
@tailwind components;
@tailwind utilities;


.glow{
    transition: all 0.3s ease-in-out;
}

.glow:hover{
    box-shadow: 0 0 25px rgb(244 63 94);
}

.img_glow{
    box-shadow: 0 0 55px rgb(244 63 94);
}

.neno-button{
    transition: all 0.3s ease-in-out;
}

.neno-button:hover{
    box-shadow: 0 0 15px rgb(244 63 94);
}
/* src/components/Carousel.css */

.transition-opacity {
    transition: opacity 3s ease-in-out; /* Matches transitionDuration in JS */
}

.card-img{
    height: 200px;
    width: 200px;
}