@tailwind base;
@tailwind components;
@tailwind utilities;


.glow{
    transition: all 0.3s ease-in-out;
}

.glow:hover{
    box-shadow: 0 0 25px rgb(206, 71, 193);
}

.img_glow{
    box-shadow: 0 0 55px rgb(206, 71, 193);
}

.neno-button{
    transition: all 0.3s ease-in-out;
}

.neno-button:hover{
    box-shadow: 0 0 15px rgb(206, 71, 193);
}
/* src/components/Carousel.css */

.transition-opacity {
    transition: opacity 3s ease-in-out; /* Matches transitionDuration in JS */
}

/* src/components/Footer.css */

.footer {
    background-color: #f8f9fa; /* Light background color */
    padding: 20px;
    text-align: center;
    border-top: 1px solid #eaeaea; /* Optional border */
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-photo {
    width: 100px; /* Adjust size as needed */
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .footer-details {
    margin-bottom: 10px;
  }
  
  .footer-name {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .footer-email {
    font-size: 1rem;
    color: #666;
  }
  
  .footer-socials {
    display: flex;
    gap: 10px;
  }
  
  .footer-social-icon {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    object-fit: contain;
  }
  